
body {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, .8);
  margin: 0;
  color: rgb(255, 255, 255, .8);
  font-family: Oswald;
  font-size: 13px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

html {
  width: 100%;
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}

.first-div {
  background-color:rgb(14, 13, 12);
  height: auto;
  width: 100%;
}

.second-div {
  background-image: url('./my-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 5px;
}

main {
  padding-top: 100px;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto 1fr; 
  width: 100%;
}

h1 {
  font-family: Playfair Display;
  font-size: 28px;
  font-weight:100;
  text-align: center; 
  grid-row: 1;
  grid-column: 1 / span 2;
}

#form-area {
  justify-self: center;
  grid-row: 2;
  grid-column: 1 / span 2;
}

input[type=submit] {
  background-color: #8C6366;
  color: rgb(14, 13, 12);
  display: block;
  margin: 0  auto;
  margin-top: 15px;
  border-radius: 2px;
  border: 1px solid #C7C7C7;
  font-family: Oswald;
  width: 90px;
  height: 28px;
}

input[type=submit]:hover {
  border: 2px solid rgba(120, 120, 120, 0.9);
  background-color: hsl(356, 17%, 27%);
}

input[type=email] {
  width: 270px;
  height: 23px;
  padding: 5px;
  background-color: #0E0D0C;
  box-shadow: none;
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  color: #C7C7C7;
  text-align: center;
}

input[type=email]:focus {
  border: 3px solid #8C6366;
}

#features {
  padding-top:50px;
  justify-self: center;
  grid-row: 3;
  grid-column: 1 / span 2;
}


h2 {
  margin-bottom: -15px;
  padding-left: 30px;
  font-weight:800;
  font-size: 20px;
}

p {
  padding-left: 30px;
  font-size: 17px;
  padding-bottom: 40px;
  line-height: 20px;
}

.frame {
  padding-top: 45px;
  grid-row: 4;
  grid-column: 1 / span 2;
  text-align: center;
  width: 100%;
}

.frame iframe {
  display: inline-block;
  border: none;
  width: 100%; 
  max-width: 480px;
  height: auto;
  aspect-ratio: 16 / 9;  
}

#pricing {
  grid-row: 5;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.first-box {
  min-height: 380px;
  min-width: 280px;
  position: relative;
  overflow: hidden;
}

.second-box {
  min-height: 380px;
  min-width: 280px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  }

.third-box {
  min-height: 380px;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  }

.border {
  border: 2px solid grey;
  height: 370px;
  width: 270px;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 3px;
}

h3 {
  font-family: playfair display;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color:  #0E0D0C;
}

.border > p {
  color: #0E0D0C;
  padding-bottom: 0px;
  padding-right: 30px;
  text-align: center;  
}

button {
  width: 100px;
  height:40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: playfair display; 
  font-weight: bold;
  font-size: 14px;
  background-color: rgb(14, 13, 12, 0.9);
  border: none;
  color: rgb(255, 255, 255, .6);
  border-radius: 2px;
}

button:hover {
  background-color: rgb(14, 13, 12, 0.8);
  color: rgb(255, 255, 255);
}

.button-wrapper {
  width: 105px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: 3px solid rgb(14, 13, 12, 0.5);
  padding-top: 3px;
  border-radius: 2px;
}

#button2 {
  margin-top: 69px;
}

#button3 {
  margin-top: -4px;
}

.border > .hr1 {
  width: 199px;
  border-color: grey;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 290px;
}

.border > .hr2 {
  width: 150px;
  border-color: grey;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 73px;
}

.second-box > .border >p {
  padding-top: 25px;
}

.first-box, .second-box, .third-box { background-color: rgb(255, 255, 255, .8);     
  border-radius: 3px;
}

footer {
  grid-row: 6;
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top:70px;
  height: 70px;
  background-color: rgb(14, 13, 12, 0.9);
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul{
  padding-left: 260px;
  list-style-type: none;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#copyright {
  font-size: 13px;
  padding-left: 250px;
  margin-top: -10px;
  text-align: center;
  color: rgb(255, 255, 255, .4);
}
    
#header {
  position: fixed;
  background-color: #0E0D0C;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
}

#header-img {
  top: 25px;
  left: 10px;
  width: 250px;
  position: absolute;
}

nav {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  width: 30%;
  height:80px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items :center;
  list-style-type: none;
}
    
.hr {
  position: absolute;
  width: 100%; 
  bottom:0;
  margin-bottom: 2px;
  border: 1px solid rgba(120, 120, 120, .5);
}
  
@media (max-width: 768px) {
  
  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 140px;
  }

  #header-img {
    width: 170px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-right: 46px;
    padding-bottom: 8px;
    height: 200px;
    width: 100%;
    z-index: 1000;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin: 28px;
    line-height: 1.7;
    text-transform: lowercase;
  }

  .hr {
    position: absolute;
    width: 100vh; 
    bottom: 78px;
    margin-bottom: 2px;
    border: 1px solid rgba(120, 120, 120, .5);
  }

  main {
    padding-top: 160px;
  }

  h1 {
    margin: auto;
    margin-top: -20px;
    margin-bottom: 37px;
    font-size: 15px;
    max-width: 280px;
    text-align: center;
  }

  input[type=email] {
    width: 170px;
    height: 18px;
  }

  input[type=submit] {
    font-family: Oswald;
    font-size: 10px;
    width: 75px;
    height: 21px;
  }

  h2 {
    margin-bottom: -7px;
    padding-left: 30px;
    font-weight:800;
    font-size: 12px;
  }

  p {
    padding-left: 30px;
    font-size: 11px;
    padding-bottom: 12px;
    line-height: 1.3;
  }

  #features {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 29px;
  }

  #pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .frame iframe {
    width: 85%; 
  }

  .first-box {
    min-height: auto;
    height: 280px;
    min-width: auto;
    width: 220px;
    position: relative;
    overflow: hidden;
  }
  
  .third-box {
    min-height: auto;
    height: 280px;
    min-width: auto;
    width: 220px;
    position: relative;
    overflow: hidden;
  }
  
  .second-box {
    min-height: auto;
    height: 280px;
    min-width: auto;
    width: 220px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .border {
    border: 1.5px solid grey;
    height: 270px;
    width: 210px;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 3px;
  }

  h3 {
    font-family: playfair display;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color:  #0E0D0C;
  }
 
  .border > p {
    color: #0E0D0C;
    padding-bottom: 0px;
    padding-right: 30px;
    text-align: center;  
 }

  .border > .hr1 {
    width: 109px;
    bottom: 210px;
  }

  .border > .hr2 {
    width: 150px;
    border-color: grey;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 62px;
  }

  button {
    width: 80px;
    height: 30px;
    display: block;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }

  .button-wrapper {
    width: 85px;
    height: 32px;
  }

  #button1 {
    margin-top: 23px;
  }

  #button2 {
    margin-top: 38px;
  }

  #button3 {
    margin-top: 20px;
  }

  footer {
    grid-row: 6;
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top:70px;
    height: 70px;
    min-width: 200px;
    background-color: rgb(14, 13, 12, 0.9);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer ul{
    padding-left: 140px;
    list-style-type: none;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  #copyright {
    font-size: 10px;
    padding-left: 160px;
    margin-top: -10px;
    text-align: left;
    color: rgb(255, 255, 255, .4);
  }
}